.about_content_main {
    .online_box {
        width: 40% !important;
        bottom: 0% !important;
    }

    .portrait_box {
        top: 40% !important;
    }

    .get_in_touch {
        &::before {
            background-color: var(--blue-color);
        }

        &:hover {
            border: 1px solid var(--blue-color);
        }
    }
}

.tech_stack_section {
    padding: 64px 0;
    width: 90%;
    margin: 0 auto;

    h1 {
        font-family: "Object Sans";
        font-size: 64px;
        line-height: 1;
        color: var(--white-color);
        margin: 0;
        letter-spacing: -3px;
        text-align: center;
        margin-bottom: 38px;
        span{
            color: var(--blue-color);
        }
    }

    .tech_stack_main {}
}