.main {
  padding: 10px;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}
.main .main_frame {
  border: 1px solid #494949;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  transition: all 0.5s;
  grid-template-areas: "header top" "header content" "bottom bottom";
  grid-template-columns: 40px 1fr;
  grid-template-rows: 40px 1fr 40px;
  transition: all 0.5s ease;
}
.main .main_frame.minimized {
  width: 90%;
  height: 90%;
}
.main .main_frame .animation_circle_main {
  position: absolute;
  inset: 0;
}
.main .main_frame .animation_circle_main .circle_1_main,
.main .main_frame .animation_circle_main .circle_2_main {
  width: 30%;
  height: 50%;
  aspect-ratio: 1/1;
  position: fixed;
  top: 15%;
  right: 0;
}
.main .main_frame .animation_circle_main .circle_1_main.about_circle .circle_1,
.main .main_frame .animation_circle_main .circle_1_main.about_circle .circle_2,
.main .main_frame .animation_circle_main .circle_2_main.about_circle .circle_1,
.main .main_frame .animation_circle_main .circle_2_main.about_circle .circle_2 {
  background-color: var(--blue-color);
}
.main .main_frame .animation_circle_main .circle_1_main.work_circle .circle_1,
.main .main_frame .animation_circle_main .circle_1_main.work_circle .circle_2,
.main .main_frame .animation_circle_main .circle_2_main.work_circle .circle_1,
.main .main_frame .animation_circle_main .circle_2_main.work_circle .circle_2 {
  background-color: var(--red-color);
}
.main .main_frame .animation_circle_main .circle_1_main.contact_circle .circle_1,
.main .main_frame .animation_circle_main .circle_1_main.contact_circle .circle_2,
.main .main_frame .animation_circle_main .circle_2_main.contact_circle .circle_1,
.main .main_frame .animation_circle_main .circle_2_main.contact_circle .circle_2 {
  background-color: var(--light-blue-color);
}
.main .main_frame .animation_circle_main .circle_1_main .circle_1,
.main .main_frame .animation_circle_main .circle_1_main .circle_2,
.main .main_frame .animation_circle_main .circle_2_main .circle_1,
.main .main_frame .animation_circle_main .circle_2_main .circle_2 {
  filter: blur(200px);
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background-color: var(--primary-color);
  opacity: 0.5;
  transition: width 0.5s;
}
.main .main_frame .animation_circle_main .circle_2_main {
  bottom: 15%;
  left: 0;
  top: unset;
  right: unset;
}
.main .main_frame_content {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}
.main .main_frame_content::-webkit-scrollbar {
  display: none;
}
.main .main_frame_content .home_section {
  width: 90%;
  margin: 0 auto;
}
.main .main_frame_content .home_section .scrolling_text {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main .main_frame_content .home_section .scrolling_text .scrolling_inner {
  display: flex;
  white-space: nowrap;
}
.main .main_frame_content .home_section .scrolling_text .scrolling_inner span {
  font-size: 480px;
  opacity: 0.1;
  color: var(--black-color);
  text-transform: lowercase;
  line-height: 1;
  font-weight: 800;
  white-space: nowrap;
}
.main .main_frame_content .home_section .container .home_content {
  width: 90%;
  margin: 0 auto;
  height: calc(100dvh - 102px);
  text-align: center;
  text-wrap: balance;
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.main .main_frame_content .home_section .container .home_content .tag {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-color);
}
.main .main_frame_content .home_section .container .home_content h1 {
  font-family: "Object Sans";
  font-size: 96px;
  line-height: 1;
  color: var(--white-color);
  margin: 0;
  letter-spacing: -3px;
}
.main .main_frame_content .home_section .container .home_content h1 span {
  color: var(--primary-color);
}
.main .main_frame_content .home_section .container .home_content p {
  color: var(--gray-color);
  margin: 0;
}
.main .main_frame_content .home_section .container .home_content.about_hero h1 span {
  color: var(--blue-color);
}
.main .main_frame_content .home_section .container .home_content.work_hero h1 span {
  color: var(--red-color);
}
.main .main_frame_content .home_section .container .home_content.contact_hero h1 span {
  color: var(--light-blue-color);
}
.main .main_frame_content .about_section {
  padding: 64px 0;
  width: 90%;
  margin: 0 auto;
}
.main .main_frame_content .about_section h1 {
  font-family: "Object Sans";
  font-size: 64px;
  line-height: 1;
  color: var(--white-color);
  margin: 0;
  letter-spacing: -3px;
  text-align: center;
  margin-bottom: 38px;
}
.main .main_frame_content .about_section h1 span {
  color: var(--primary-color);
}
.main .main_frame_content .about_section .about_content_main {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  aspect-ratio: 6/4;
  overflow: hidden;
}
.main .main_frame_content .about_section .about_content_main .box, .main .main_frame_content .about_section .about_content_main .online_box, .main .main_frame_content .about_section .about_content_main .hobbies_box, .main .main_frame_content .about_section .about_content_main .portrait_box, .main .main_frame_content .about_section .about_content_main .where_work_box, .main .main_frame_content .about_section .about_content_main .about_me_box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.5s;
  border: 1px solid #494949;
}
.main .main_frame_content .about_section .about_content_main .box .box_top, .main .main_frame_content .about_section .about_content_main .online_box .box_top, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_top, .main .main_frame_content .about_section .about_content_main .portrait_box .box_top, .main .main_frame_content .about_section .about_content_main .where_work_box .box_top, .main .main_frame_content .about_section .about_content_main .about_me_box .box_top {
  width: 100%;
  background-color: rgba(15, 15, 15, 0.9019607843);
  border-bottom: 1px solid #494949;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0 16px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.main .main_frame_content .about_section .about_content_main .box .box_top h6, .main .main_frame_content .about_section .about_content_main .online_box .box_top h6, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_top h6, .main .main_frame_content .about_section .about_content_main .portrait_box .box_top h6, .main .main_frame_content .about_section .about_content_main .where_work_box .box_top h6, .main .main_frame_content .about_section .about_content_main .about_me_box .box_top h6 {
  color: var(--white-color);
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom {
  width: 100%;
  background-color: rgba(15, 15, 15, 0.7490196078);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 16px;
  font-weight: 500;
  counter-reset: line;
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p {
  margin-bottom: 4px;
  color: var(--white-color);
  position: relative;
  padding-left: 20px;
  counter-increment: line;
  line-height: 22px;
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p::before, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p::before, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p::before, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p::before, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p::before, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p::before {
  content: counter(line);
  position: absolute;
  display: inline-flex;
  justify-content: flex-end;
  margin-left: -20px;
  padding-right: 8px;
  text-align: right;
  width: 20px;
  color: var(--gray-color);
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p .number, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p .number, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p .number, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p .number, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p .number, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p .number {
  color: var(--gray-color);
  padding-right: 10px;
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p span, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p span, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p span, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p span, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p span, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p span {
  color: var(--primary-color);
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p .blue, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p .blue, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p .blue, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p .blue, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p .blue, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p .blue {
  color: var(--blue-color);
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p .red, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p .red, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p .red, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p .red, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p .red, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p .red {
  color: var(--red-color);
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p .light_blue, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p .light_blue, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p .light_blue, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p .light_blue, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p .light_blue, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p .light_blue {
  color: var(--light-blue-color);
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p .yellow, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p .yellow, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p .yellow, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p .yellow, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p .yellow, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p .yellow {
  color: var(--yellow-color);
}
.main .main_frame_content .about_section .about_content_main .box .box_bottom p .purple, .main .main_frame_content .about_section .about_content_main .online_box .box_bottom p .purple, .main .main_frame_content .about_section .about_content_main .hobbies_box .box_bottom p .purple, .main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom p .purple, .main .main_frame_content .about_section .about_content_main .where_work_box .box_bottom p .purple, .main .main_frame_content .about_section .about_content_main .about_me_box .box_bottom p .purple {
  color: var(--purple-color);
}
.main .main_frame_content .about_section .about_content_main .about_me_box {
  width: 58.33%;
  top: 0;
  left: 21%;
}
.main .main_frame_content .about_section .about_content_main .where_work_box {
  width: 33.33%;
  top: 50%;
  left: 0;
}
.main .main_frame_content .about_section .about_content_main .portrait_box {
  width: 25%;
  top: 33%;
  right: 0;
}
.main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom {
  padding: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom .image_main {
  height: 100%;
}
.main .main_frame_content .about_section .about_content_main .portrait_box .box_bottom .image_main img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -90px;
     object-position: 0px -90px;
}
.main .main_frame_content .about_section .about_content_main .hobbies_box {
  width: 25%;
  left: 30%;
  bottom: 0%;
}
.main .main_frame_content .about_section .about_content_main .online_box {
  width: 25%;
  top: unset;
  right: 30%;
  left: unset;
  bottom: 5%;
}
.main .main_frame_content .about_section .about_content_main .online_box .box_bottom p a {
  text-decoration: none;
  color: var(--white-color);
  display: flex;
  gap: 4px;
  align-items: center;
  transition: all 0.5s;
}
.main .main_frame_content .about_section .about_content_main .online_box .box_bottom p a svg {
  font-size: 16px;
  transition: all 0.5s;
}
.main .main_frame_content .about_section .about_content_main .online_box .box_bottom p a svg g {
  fill: var(--white-color);
}
.main .main_frame_content .about_section .about_content_main .online_box .box_bottom p a:hover {
  color: var(--primary-color);
}
.main .main_frame_content .about_section .about_content_main .online_box .box_bottom p a:hover svg {
  transition: all 0.5s;
}
.main .main_frame_content .about_section .about_content_main .online_box .box_bottom p a:hover svg g {
  fill: var(--primary-color);
}
.main .main_frame_content .about_section .get_in_touch_main {
  justify-content: center;
  padding-top: 48px;
}
.main .main_frame_content .about_section .get_in_touch_main a {
  padding: 16px 24px;
}
.main .main_frame_content .about_section .get_in_touch_main a .emoji {
  overflow: hidden;
}
.main .main_frame_content .project_section {
  padding: 64px 0;
  width: 90%;
  margin: 0 auto;
}
.main .main_frame_content .project_section h1 {
  font-family: "Object Sans";
  font-size: 64px;
  line-height: 1;
  color: var(--white-color);
  margin: 0;
  letter-spacing: -3px;
  text-align: center;
  margin-bottom: 38px;
}
.main .main_frame_content .project_section h1 span {
  color: var(--primary-color);
}
.main .main_frame_content .project_section .projects_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}
.main .main_frame_content .project_section .projects_list a {
  text-decoration: none;
}
.main .main_frame_content .project_section .projects_list a .project_box {
  padding: 80px 32px;
  display: grid;
  row-gap: 12px;
  grid-template-areas: "index title year" "empty tags awards";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(15, 15, 15, 0.2509803922);
  border: 1px solid #494949;
  gap: 16px;
  justify-content: space-between;
  position: relative;
  font-weight: 500;
}
.main .main_frame_content .project_section .projects_list a .project_box .number {
  padding-top: 4px;
  grid-area: index;
  font-size: 14px;
  color: var(--gray-color);
}
.main .main_frame_content .project_section .projects_list a .project_box h3 {
  grid-area: title;
  font-size: 48px;
  line-height: 1;
  color: var(--white-color);
  margin: 0;
  font-family: "Object Sans";
  letter-spacing: -3px;
}
.main .main_frame_content .project_section .projects_list a .project_box .project_year {
  grid-area: year;
  font-size: 14px;
  color: var(--gray-color);
  display: flex;
  justify-content: end;
}
.main .main_frame_content .project_section .projects_list a .project_box .project_tech {
  grid-area: tags;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}
.main .main_frame_content .project_section .projects_list a .project_box .project_tech .pill {
  font-size: 12px;
  line-height: 1;
  background-color: rgba(15, 15, 15, 0.2509803922);
  border: 1px solid #494949;
  padding: 8px 12px;
  text-transform: lowercase;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 999px;
  color: var(--white-color);
}
.main .main_frame_content .project_section .projects_list a .project_box .project_image {
  grid-area: image;
  aspect-ratio: 16/9;
  z-index: 10;
  opacity: 0;
  width: auto;
  height: 100%;
  margin: 0;
  top: 0%;
  left: 40%;
  position: absolute;
  transform: rotate(0deg) scale(0.8);
  transition: all 0.5s;
}
.main .main_frame_content .project_section .projects_list a .project_box .project_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main_frame_content .project_section .projects_list a:hover .project_box .project_image {
  opacity: 1;
  transform: rotate(-5deg) scale(1);
}
.main .main_frame_content .project_section .get_in_touch_main {
  justify-content: center;
  padding-top: 48px;
}
.main .main_frame_content .project_section .get_in_touch_main a {
  padding: 16px 24px;
}
.main .main_frame_content .project_section .get_in_touch_main a .emoji {
  overflow: hidden;
}
.main .main_frame_content .contact_us_section {
  padding: 64px 0;
  width: 90%;
  margin: 0 auto;
}
.main .main_frame_content .contact_us_section .contact_box_main {
  padding: 144px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.main .main_frame_content .contact_us_section .contact_box_main::before {
  background-image: linear-gradient(to top, #91d1f8, transparent);
  content: "";
  height: 150px;
  left: 50%;
  position: absolute;
  width: 1px;
  top: 0;
}
.main .main_frame_content .contact_us_section .contact_box_main::after {
  background-image: linear-gradient(to bottom, #91d1f8, transparent);
  content: "";
  height: 150px;
  left: 50%;
  position: absolute;
  width: 1px;
  bottom: 0;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box {
  max-width: 680px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;
  border: 1px solid #494949;
  z-index: 1;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_top {
  width: 100%;
  background-color: rgba(15, 15, 15, 0.2509803922);
  border-bottom: 1px solid #494949;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0 16px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_top h6 {
  color: var(--white-color);
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom {
  width: 100%;
  background-color: rgba(15, 15, 15, 0.2509803922);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 32px;
  font-weight: 500;
  counter-reset: line;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main {
  padding-left: 28px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main .number {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--gray-color);
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main .form_control label {
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main .form_control label p {
  color: var(--white-color);
  text-transform: lowercase;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main .form_control label p .input_star {
  color: #ff5861;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main input,
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main textarea {
  background-color: #0f0f0f;
  width: 100%;
  padding: 0 24px;
  font-size: 20px;
  line-height: 28px;
  height: 64px;
  color: var(--white-color);
  font-weight: 400;
  font-family: "Object Sans";
  border: 1px solid #494949;
  transition: all 0.5s;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main input:focus,
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main textarea:focus {
  outline: none;
  border: 1px solid var(--light-blue-color);
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main .error {
  color: #ff5861;
  padding-top: 4px;
  font-size: 14px;
  line-height: 20px;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main textarea {
  height: 200px;
  resize: none;
  padding: 24px;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main .get_in_touch_main {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
  grid-column-start: 3;
  justify-content: end;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main button {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #494949;
  background-color: #0f0f0f;
  position: relative;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--white-color);
  min-height: 32px;
  padding: 16px 24px;
  overflow: hidden;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main button::before {
  content: "";
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: var(--light-blue-color);
  opacity: 0.15;
  transition: all 0.5s;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main button .emoji_container {
  overflow: hidden;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main button .emoji_container .emoji {
  display: inline-block;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main button:hover {
  border: 1px solid var(--light-blue-color);
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main button:hover::before {
  width: 100%;
  left: 0;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom .thank_you_box {
  padding: 32px;
  border: 1px solid #00a96e;
  color: #00a96e;
  background-color: rgba(0, 169, 110, 0.1490196078);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom .thank_you_box h2 {
  margin: 0;
}
.main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom .thank_you_box p {
  margin: 0;
}
.main .main_frame_content .collaboration_section {
  padding: 64px 0;
  width: 90%;
  margin: 0 auto;
}
.main .main_frame_content .collaboration_section .collaboration_card {
  border: 1px solid #494949;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_top {
  background-color: rgba(15, 15, 15, 0.2509803922);
  border-bottom: 1px solid #494949;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0 16px;
  gap: 16px;
  height: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_top h6 {
  color: var(--white-color);
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom {
  display: flex;
  gap: 40px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(15, 15, 15, 0.2509803922);
  padding: 40px;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_img {
  aspect-ratio: 6/6;
  align-self: flex-start;
  position: relative;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_img .hand_emoji {
  background-color: #0f0f0f;
  border: 1px solid #494949;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_img .hand_emoji span {
  animation: wave 2s infinite ease-in-out;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_img img {
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -30px;
     object-position: 0px -30px;
  overflow: hidden;
  border-radius: 999px;
  height: 120px;
  position: relative;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content h3 {
  line-height: 1.25;
  font-size: 64px;
  color: var(--white-color);
  font-family: "Object Sans";
  margin: 0;
  letter-spacing: -3px;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content .get_in_touch_main {
  justify-content: start;
  height: unset;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content .get_in_touch_main a {
  padding: 16px 24px;
}
.main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content .get_in_touch_main a .emoji {
  overflow: hidden;
}
.main .main_frame_content .collaboration_section.about_collaboration a::before {
  background-color: var(--blue-color);
}
.main .main_frame_content .collaboration_section.about_collaboration a:hover {
  border: 1px solid var(--blue-color);
}
.main .main_frame_content .collaboration_section.work_collaboration a::before {
  background-color: var(--red-color);
}
.main .main_frame_content .collaboration_section.work_collaboration a:hover {
  border: 1px solid var(--red-color);
}
.main .main_frame_content .collaboration_section.contact_collaboration a::before {
  background-color: var(--light-blue-color);
}
.main .main_frame_content .collaboration_section.contact_collaboration a:hover {
  border: 1px solid var(--light-blue-color);
}
.main .social_share {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transform: scale(0.8) translateY(20px);
  transition: all 0.5s ease;
  z-index: 999;
}
.main .social_share.show {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.main .social_share .social_share_inner {
  border: 1px solid #494949;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main .social_share .social_share_inner .social_top {
  background-color: rgba(15, 15, 15, 0.9019607843);
  border-bottom: 1px solid #494949;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0 16px;
  gap: 16px;
  height: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.main .social_share .social_share_inner .social_top h6 {
  color: var(--white-color);
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.main .social_share .social_share_inner .social_top .close_button {
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.main .social_share .social_share_inner .social_top .close_button img {
  width: 16px;
  transition: all 0.5s;
  opacity: 0.6;
}
.main .social_share .social_share_inner .social_top .close_button:hover img {
  opacity: 1;
}
.main .social_share .social_share_inner .social_bottom {
  background-color: rgba(15, 15, 15, 0.7490196078);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 80px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.main .social_share .social_share_inner .social_bottom span {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--gray-color);
  margin: 0;
  padding: 0 16px;
}
.main .social_share .social_share_inner .social_bottom a {
  text-decoration: none;
  color: var(--gray-color);
  padding: 8px;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .social_share .social_share_inner .social_bottom a img {
  transition: all 0.5s;
  width: 20px;
  opacity: 0.6;
}
.main .social_share .social_share_inner .social_bottom a:hover img {
  opacity: 1;
}
.main .leave_soon {
  position: absolute;
  width: 400px;
  top: 55px;
  right: 30px;
  transform: scale(0);
  transition: all 0.5s;
  z-index: 999;
  opacity: 0;
}
.main .leave_soon.show {
  opacity: 1;
  transform: scale(1);
}
.main .leave_soon.hide {
  transform: scale(0);
  opacity: 0;
}
.main .leave_soon .leave_soon_inner {
  border: 1px solid #494949;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 0 30px;
  position: relative;
  background-color: rgba(15, 15, 15, 0.9019607843);
}
.main .leave_soon .leave_soon_inner .leave_soon_top {
  padding: 0 16px;
  margin-bottom: 10px;
  margin-left: auto;
}
.main .leave_soon .leave_soon_inner .leave_soon_top .close_button {
  background-color: transparent;
  border: none;
}
.main .leave_soon .leave_soon_inner .leave_soon_top .close_button img {
  width: 16px;
  transition: all 0.5s;
  opacity: 0.6;
}
.main .leave_soon .leave_soon_inner .leave_soon_top .close_button:hover img {
  opacity: 1;
}
.main .leave_soon .leave_soon_inner .leave_soon_bottom {
  padding: 0 32px;
}
.main .leave_soon .leave_soon_inner .leave_soon_bottom p {
  margin: 0;
  color: var(--gray-color);
}
.main .leave_soon .leave_soon_inner .leave_soon_bottom .social_profiles {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.main .leave_soon .leave_soon_inner .leave_soon_bottom .social_profiles a {
  text-decoration: none;
  color: var(--gray-color);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .leave_soon .leave_soon_inner .leave_soon_bottom .social_profiles a img {
  transition: all 0.5s;
  width: 16px;
  opacity: 0.6;
  transform: scale(1);
}
.main .leave_soon .leave_soon_inner .leave_soon_bottom .social_profiles a:hover img {
  opacity: 1;
  transform: scale(1.1);
}
.main .leave_soon .leave_soon_inner .progress_bar {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
}
.main .leave_soon .leave_soon_inner .progress_bar .progress {
  border-radius: 0;
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.1s ease-out;
}
.main .leave_soon .leave_soon_inner .progress_bar.about_page .progress {
  background-color: var(--blue-color);
}
.main .leave_soon .leave_soon_inner .progress_bar.contact_page .progress {
  background-color: var(--light-blue-color);
}

.get_in_touch_main {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
  grid-column-start: 3;
  justify-content: end;
}
.get_in_touch_main a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #494949;
  background-color: #0f0f0f;
  position: relative;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--white-color);
  min-height: 32px;
  padding: 0 12px;
  overflow: hidden;
}
.get_in_touch_main a::before {
  content: "";
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.15;
  transition: all 0.5s;
}
.get_in_touch_main a .emoji_container {
  overflow: hidden;
}
.get_in_touch_main a .emoji_container .emoji {
  display: inline-block;
}
.get_in_touch_main a:hover {
  border: 1px solid var(--primary-color);
}
.get_in_touch_main a:hover::before {
  width: 100%;
  left: 0;
}

.loader_container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}
.loader_container h1 {
  color: var(--white-color);
  font-weight: 800;
  margin: 0;
}

@media (max-width: 1280px) {
  .main .main_frame_content .home_section .container .home_content h1 {
    font-size: 72px;
  }
  .main .main_frame_content .about_section .about_content_main {
    aspect-ratio: unset;
    overflow: unset;
  }
  .main .main_frame_content .about_section .about_content_main .about_me_box {
    width: 100%;
    position: unset;
  }
  .main .main_frame_content .about_section .about_content_main .where_work_box {
    width: 58%;
    position: unset;
  }
  .main .main_frame_content .about_section .about_content_main .portrait_box {
    width: 50%;
    display: grid;
    position: unset;
    margin-left: auto;
  }
  .main .main_frame_content .about_section .about_content_main .hobbies_box {
    width: 58%;
    position: unset;
  }
  .main .main_frame_content .about_section .about_content_main .online_box {
    width: 58%;
    position: unset;
    margin-left: auto;
  }
  .main .about_content_main .about_section .about_content_main .online_box {
    width: 100% !important;
  }
  .main .main_frame_content .project_section .projects_list a .project_box {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "image image image" "index title year" "empty tags awards";
    grid-template-rows: auto auto auto;
    padding: 32px;
    margin-top: 40px;
  }
  .main .main_frame_content .project_section .projects_list a .project_box .project_image {
    width: 50%;
    grid-area: image;
    margin-right: 15px;
    margin-top: -50px;
    margin-left: auto;
    position: unset;
    opacity: 1;
    transform: rotate(-5deg) scale(1);
  }
  .main .main_frame_content .project_section .projects_list a .project_box h3 {
    font-size: 36px;
  }
  .main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content h3 {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  .main .main_frame_content .about_section .about_content_main {
    width: 100%;
    margin: 0 auto;
  }
  .main .main_frame_content .project_section .projects_list a .project_box .project_image {
    width: 66%;
  }
  .main .main_frame_content .home_section,
  .main .main_frame_content .about_section,
  .main .main_frame_content .project_section,
  .main .main_frame_content .collaboration_section,
  .main .main_frame_content .contact_us_section,
  .main .main_frame_content .home_section .container .home_content {
    width: 100%;
  }
  .main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .main .main_frame_content .home_section .container .home_content h1 {
    font-size: 48px;
  }
  .main .main_frame_content .about_section h1,
  .main .main_frame_content .project_section h1 {
    font-size: 48px;
  }
  .main .main_frame {
    grid-template-areas: "header header header" "content content content" "bottom bottom bottom";
    grid-template-columns: 40px 1fr 40px;
    border: none;
  }
  .main .main_frame_content .about_section .about_content_main {
    width: 100%;
    margin: 0 auto;
  }
  .main .main_frame_content {
    grid-area: content;
    border-left: 1px solid #494949;
    border-right: 1px solid #494949;
  }
  .main .main_frame_content .project_section .projects_list a .project_box h3 {
    font-size: 30px;
  }
  .main .main_frame_content .project_section .projects_list a:hover .project_box .project_image {
    transform: unset;
  }
  .main .main_frame_content .project_section .projects_list a .project_box .project_image {
    width: 100%;
    margin-top: -50px;
    transform: unset;
  }
  .main .main_frame_content .project_section .projects_list a .project_box {
    display: grid;
    grid-template-areas: "image image" "index year" "title title" "tags tags" "awards awards";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
  .main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content h3 {
    font-size: 36px;
  }
  .main .main_frame_content .contact_us_section .contact_box_main .contact_box {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .main .main_frame_content .about_section .about_content_main .portrait_box,
  .main .main_frame_content .about_section .about_content_main .hobbies_box,
  .main .main_frame_content .about_section .about_content_main .online_box,
  .main .main_frame_content .about_section .about_content_main .where_work_box {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .main .main_frame_content .project_section h1,
  .main .main_frame_content .about_section h1 {
    font-size: 38px;
  }
  .main .main_frame_content .about_section .about_content_main .portrait_box,
  .main .main_frame_content .about_section .about_content_main .hobbies_box,
  .main .main_frame_content .about_section .about_content_main .online_box,
  .main .main_frame_content .about_section .about_content_main .where_work_box {
    width: 100%;
  }
  .main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom,
  .main .main_frame_content .project_section .projects_list a .project_box {
    padding: 20px;
  }
  .main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom {
    padding: 24px;
  }
  .main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main input {
    padding: 0 16px;
    height: 48px;
  }
  .main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main textarea {
    padding: 16px;
  }
}/*# sourceMappingURL=Home.css.map */