.main {
    padding: 10px;
    height: 100dvh;
    position: relative;
    overflow: hidden;

    .main_frame {
        border: 1px solid #494949;
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        transition: all 0.5s;
        grid-template-areas:
            "header top"
            "header content"
            "bottom bottom";
        grid-template-columns: 40px 1fr;
        grid-template-rows: 40px 1fr 40px;
        transition: all 0.5s ease;

        &.minimized {
            width: 90%;
            height: 90%;
        }

        .animation_circle_main {
            position: absolute;
            inset: 0;

            .circle_1_main,
            .circle_2_main {
                width: 30%;
                height: 50%;
                aspect-ratio: 1 / 1;
                position: fixed;
                top: 15%;
                right: 0;

                &.about_circle {

                    .circle_1,
                    .circle_2 {

                        background-color: var(--blue-color);
                    }
                }

                &.work_circle {

                    .circle_1,
                    .circle_2 {

                        background-color: var(--red-color);
                    }
                }

                &.contact_circle {

                    .circle_1,
                    .circle_2 {

                        background-color: var(--light-blue-color);
                    }
                }

                .circle_1,
                .circle_2 {
                    filter: blur(200px);
                    width: 100%;
                    height: 100%;
                    border-radius: 999px;
                    background-color: var(--primary-color);
                    opacity: 0.5;
                    transition: width 0.5s;
                }
            }

            .circle_2_main {
                bottom: 15%;
                left: 0;
                top: unset;
                right: unset;
            }
        }
    }

    .main_frame_content {
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        height: 100%;

        &::-webkit-scrollbar {
            display: none;
        }

        // &::-webkit-scrollbar-track {
        //     background: transparent;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background-color: var(--primary-color);
        //     border-radius: 6px;
        //     opacity: 0;
        //     transition: opacity 0.3s;
        // }

        // &.about_content_main {
        //     &::-webkit-scrollbar-thumb {
        //         background-color: var(--blue-color);
        //     }
        // }

        .home_section {
            width: 90%;
            margin: 0 auto;

            .scrolling_text {
                position: absolute;
                inset: 0;
                overflow: hidden;
                display: flex;
                align-items: center;
                pointer-events: none;
                user-select: none;

                .scrolling_inner {
                    display: flex;
                    white-space: nowrap;

                    span {
                        font-size: 480px;
                        opacity: 0.1;
                        color: var(--black-color);
                        text-transform: lowercase;
                        line-height: 1;
                        font-weight: 800;
                        white-space: nowrap;
                    }
                }

            }

            .container {

                .home_content {
                    width: 90%;
                    margin: 0 auto;
                    height: calc(100dvh - 102px);
                    text-align: center;
                    text-wrap: balance;
                    gap: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;

                    .tag {
                        text-transform: uppercase;
                        letter-spacing: 0.6px;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 500;
                        color: var(--gray-color);
                    }

                    h1 {
                        font-family: 'Object Sans';
                        font-size: 96px;
                        line-height: 1;
                        color: var(--white-color);
                        margin: 0;
                        letter-spacing: -3px;

                        span {
                            color: var(--primary-color);
                        }
                    }

                    p {
                        color: var(--gray-color);
                        margin: 0;
                    }

                    &.about_hero {
                        h1 {
                            span {
                                color: var(--blue-color);
                            }
                        }
                    }
                    &.work_hero {
                        h1 {
                            span {
                                color: var(--red-color);
                            }
                        }
                    }

                    &.contact_hero {
                        h1 {
                            span {
                                color: var(--light-blue-color);
                            }
                        }
                    }
                }
            }
        }

        .about_section {
            padding: 64px 0;
            width: 90%;
            margin: 0 auto;

            h1 {
                font-family: 'Object Sans';
                font-size: 64px;
                line-height: 1;
                color: var(--white-color);
                margin: 0;
                letter-spacing: -3px;
                text-align: center;
                margin-bottom: 38px;

                span {
                    color: var(--primary-color);
                }
            }

            .about_content_main {
                width: 100%;
                display: flex;
                gap: 16px;
                flex-direction: column;
                justify-content: center;
                position: relative;
                aspect-ratio: 6 / 4;
                overflow: hidden;

                .box {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    cursor: grab;
                    user-select: none;
                    transition: all 0.5s;
                    border: 1px solid #494949;

                    .box_top {
                        width: 100%;
                        background-color: #0f0f0fe6;
                        border-bottom: 1px solid #494949;
                        backdrop-filter: blur(4px);
                        padding: 0 16px;
                        min-height: 40px;
                        display: flex;
                        align-items: center;

                        h6 {
                            color: var(--white-color);
                            margin: 0;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }

                    .box_bottom {
                        width: 100%;
                        background-color: #0f0f0fbf;
                        backdrop-filter: blur(4px);
                        padding: 16px;
                        font-weight: 500;
                        counter-reset: line;

                        p {
                            margin-bottom: 4px;
                            color: var(--white-color);
                            position: relative;
                            padding-left: 20px;
                            counter-increment: line;
                            line-height: 22px;

                            &::before {
                                content: counter(line);
                                position: absolute;
                                display: inline-flex;
                                justify-content: flex-end;
                                margin-left: -20px;
                                padding-right: 8px;
                                text-align: right;
                                width: 20px;
                                color: var(--gray-color);
                            }

                            .number {
                                color: var(--gray-color);
                                padding-right: 10px;
                            }

                            span {
                                color: var(--primary-color);
                            }

                            .blue {
                                color: var(--blue-color);
                            }

                            .red {
                                color: var(--red-color);
                            }

                            .light_blue {
                                color: var(--light-blue-color);
                            }

                            .yellow {
                                color: var(--yellow-color);
                            }

                            .purple {
                                color: var(--purple-color);
                            }
                        }
                    }
                }

                .about_me_box {
                    @extend .box;
                    width: 58.33%;
                    top: 0;
                    left: 21%;
                }

                .where_work_box {
                    @extend .box;
                    width: 33.33%;
                    top: 50%;
                    left: 0;
                }

                .portrait_box {
                    @extend .box;
                    width: 25%;
                    top: 33%;
                    right: 0;

                    .box_bottom {
                        padding: 0;
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 1 / 1;

                        .image_main {
                            height: 100%;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                object-position: 0px -90px;
                            }
                        }
                    }
                }

                .hobbies_box {
                    @extend .box;
                    width: 25%;
                    left: 30%;
                    bottom: 0%;
                }

                .online_box {
                    @extend .box;
                    width: 25%;
                    top: unset;
                    right: 30%;
                    left: unset;
                    bottom: 5%;

                    .box_bottom {
                        p {
                            a {
                                text-decoration: none;
                                color: var(--white-color);
                                display: flex;
                                gap: 4px;
                                align-items: center;
                                transition: all 0.5s;

                                svg {
                                    font-size: 16px;
                                    transition: all 0.5s;

                                    g {
                                        fill: var(--white-color);
                                    }
                                }

                                &:hover {
                                    color: var(--primary-color);

                                    svg {
                                        transition: all 0.5s;

                                        g {
                                            fill: var(--primary-color);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .get_in_touch_main {
                justify-content: center;
                padding-top: 48px;

                a {
                    padding: 16px 24px;

                    .emoji {
                        overflow: hidden;
                    }
                }
            }
        }

        .project_section {
            padding: 64px 0;
            width: 90%;
            margin: 0 auto;

            h1 {
                font-family: 'Object Sans';
                font-size: 64px;
                line-height: 1;
                color: var(--white-color);
                margin: 0;
                letter-spacing: -3px;
                text-align: center;
                margin-bottom: 38px;

                span {
                    color: var(--primary-color);
                }
            }

            .projects_list {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-left: auto;
                margin-right: auto;

                a {
                    text-decoration: none;

                    .project_box {
                        padding: 80px 32px;
                        display: grid;
                        row-gap: 12px;
                        grid-template-areas:
                            "index title year"
                            "empty tags awards";
                        grid-template-columns: auto 1fr auto;
                        grid-template-rows: auto auto;
                        backdrop-filter: blur(4px);
                        background-color: #0f0f0f40;
                        border: 1px solid #494949;
                        gap: 16px;
                        justify-content: space-between;
                        position: relative;
                        font-weight: 500;

                        .number {
                            padding-top: 4px;
                            grid-area: index;
                            font-size: 14px;
                            color: var(--gray-color);
                        }

                        h3 {
                            grid-area: title;
                            font-size: 48px;
                            line-height: 1;
                            color: var(--white-color);
                            margin: 0;
                            font-family: 'Object Sans';
                            letter-spacing: -3px;
                        }

                        .project_year {
                            grid-area: year;
                            font-size: 14px;
                            color: var(--gray-color);
                            display: flex;
                            justify-content: end;
                        }

                        .project_tech {
                            grid-area: tags;
                            gap: 8px;
                            display: flex;
                            flex-wrap: wrap;

                            .pill {
                                font-size: 12px;
                                line-height: 1;
                                background-color: #0f0f0f40;
                                border: 1px solid #494949;
                                padding: 8px 12px;
                                text-transform: lowercase;
                                backdrop-filter: blur(4px);
                                border-radius: 999px;
                                color: var(--white-color);
                            }
                        }

                        .project_image {
                            grid-area: image;
                            aspect-ratio: 16/9;
                            z-index: 10;
                            opacity: 0;
                            width: auto;
                            height: 100%;
                            margin: 0;
                            top: 0%;
                            left: 40%;
                            position: absolute;
                            transform: rotate(0deg) scale(0.8);

                            transition: all 0.5s;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    &:hover {
                        .project_box {
                            .project_image {
                                opacity: 1;
                                transform: rotate(-5deg) scale(1);
                            }
                        }
                    }
                }
            }

            .get_in_touch_main {
                justify-content: center;
                padding-top: 48px;

                a {
                    padding: 16px 24px;

                    .emoji {
                        overflow: hidden;
                    }
                }
            }
        }

        .contact_us_section {
            padding: 64px 0;
            width: 90%;
            margin: 0 auto;

            .contact_box_main {
                padding: 144px 0;
                display: flex;
                justify-content: center;
                position: relative;

                &::before {
                    background-image: linear-gradient(to top, #91d1f8, transparent);
                    content: "";
                    height: 150px;
                    left: 50%;
                    position: absolute;
                    width: 1px;
                    top: 0;
                }

                &::after {
                    background-image: linear-gradient(to bottom, #91d1f8, transparent);
                    content: "";
                    height: 150px;
                    left: 50%;
                    position: absolute;
                    width: 1px;
                    bottom: 0;
                }

                .contact_box {
                    max-width: 680px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    transition: all 0.5s;
                    border: 1px solid #494949;
                    z-index: 1;

                    .contact_box_top {
                        width: 100%;
                        background-color: #0f0f0f40;
                        border-bottom: 1px solid #494949;
                        backdrop-filter: blur(4px);
                        padding: 0 16px;
                        min-height: 40px;
                        display: flex;
                        align-items: center;

                        h6 {
                            color: var(--white-color);
                            margin: 0;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }

                    .contact_box_bottom {
                        width: 100%;
                        background-color: #0f0f0f40;
                        backdrop-filter: blur(4px);
                        padding: 32px;
                        font-weight: 500;
                        counter-reset: line;

                        form {
                            display: flex;
                            flex-direction: column;
                            gap: 32px;

                            .input_main {
                                padding-left: 28px;
                                font-size: 14px;
                                line-height: 20px;
                                position: relative;

                                .number {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    color: var(--gray-color);
                                }

                                .form_control {
                                    label {
                                        padding-bottom: 4px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        user-select: none;

                                        p {
                                            color: var(--white-color);
                                            text-transform: lowercase;
                                            font-size: 14px;
                                            line-height: 20px;
                                            margin: 0;

                                            .input_star {
                                                color: #ff5861;
                                            }
                                        }
                                    }

                                }

                                input,
                                textarea {
                                    background-color: #0f0f0f;
                                    width: 100%;
                                    padding: 0 24px;
                                    font-size: 20px;
                                    line-height: 28px;
                                    height: 64px;
                                    color: var(--white-color);
                                    font-weight: 400;
                                    font-family: 'Object Sans';
                                    border: 1px solid #494949;
                                    transition: all 0.5s;

                                    &:focus {
                                        outline: none;
                                        border: 1px solid var(--light-blue-color);
                                    }
                                }

                                .error {
                                    color: #ff5861;
                                    padding-top: 4px;
                                    font-size: 14px;
                                    line-height: 20px;
                                    display: block;
                                    user-select: none;
                                }

                                textarea {
                                    height: 200px;
                                    resize: none;
                                    padding: 24px;
                                }

                                .get_in_touch_main {
                                    display: flex;
                                    align-items: center;
                                    height: 100%;
                                    gap: 16px;
                                    grid-column-start: 3;
                                    justify-content: end;

                                }

                                button {
                                    text-decoration: none;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    border: 1px solid #494949;
                                    background-color: #0f0f0f;
                                    position: relative;
                                    transition: all 0.5s;
                                    display: flex;
                                    align-items: center;
                                    gap: 16px;
                                    color: var(--white-color);
                                    min-height: 32px;
                                    padding: 16px 24px;
                                    overflow: hidden;

                                    &:disabled {
                                        cursor: not-allowed;
                                        pointer-events: none;
                                    }

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        right: 0;
                                        width: 0%;
                                        height: 100%;
                                        background-color: var(--light-blue-color);
                                        opacity: 0.15;
                                        transition: all 0.5s;
                                    }

                                    .emoji_container {
                                        overflow: hidden;

                                        .emoji {
                                            display: inline-block;
                                        }
                                    }

                                    &:hover {
                                        border: 1px solid var(--light-blue-color);

                                        &::before {
                                            width: 100%;
                                            left: 0;
                                        }
                                    }
                                }
                            }
                        }

                        .thank_you_box {
                            padding: 32px;
                            border: 1px solid #00a96e;
                            color: #00a96e;
                            background-color: #00a96e26;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            gap: 16px;

                            h2 {
                                margin: 0;
                            }

                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        .collaboration_section {
            padding: 64px 0;
            width: 90%;
            margin: 0 auto;

            .collaboration_card {
                border: 1px solid #494949;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                height: 100%;

                .collaboration_top {
                    background-color: #0f0f0f40;
                    border-bottom: 1px solid #494949;
                    backdrop-filter: blur(4px);
                    padding: 0 16px;
                    gap: 16px;
                    height: 40px;
                    min-height: 40px;
                    display: flex;
                    align-items: center;

                    h6 {
                        color: var(--white-color);
                        margin: 0;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .collaboration_bottom {
                    display: flex;
                    gap: 40px;
                    backdrop-filter: blur(4px);
                    background-color: #0f0f0f40;
                    padding: 40px;

                    .collaboration_img {
                        aspect-ratio: 6/6;
                        align-self: flex-start;
                        position: relative;

                        .hand_emoji {
                            background-color: #0f0f0f;
                            border: 1px solid #494949;
                            border-radius: 999px;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            cursor: pointer;

                            span {
                                animation: wave 2s infinite ease-in-out;
                            }
                        }

                        @keyframes wave {
                            0% {
                                transform: rotate(0deg);
                            }

                            10% {
                                transform: rotate(14deg);
                            }

                            20% {
                                transform: rotate(-8deg);
                            }

                            30% {
                                transform: rotate(14deg);
                            }

                            40% {
                                transform: rotate(-4deg);
                            }

                            50% {
                                transform: rotate(10deg);
                            }

                            60% {
                                transform: rotate(0deg);
                            }

                            100% {
                                transform: rotate(0deg);
                            }
                        }

                        img {
                            width: 120px;
                            object-fit: cover;
                            object-position: 0px -30px;
                            overflow: hidden;
                            border-radius: 999px;
                            height: 120px;
                            position: relative;
                        }
                    }

                    .collaboration_content {
                        display: flex;
                        gap: 32px;
                        flex-direction: column;

                        h3 {
                            line-height: 1.25;
                            font-size: 64px;
                            color: var(--white-color);
                            font-family: 'Object Sans';
                            margin: 0;
                            letter-spacing: -3px;
                        }

                        .get_in_touch_main {
                            justify-content: start;
                            height: unset;

                            a {
                                padding: 16px 24px;

                                .emoji {
                                    overflow: hidden;
                                }
                            }
                        }
                    }

                }
            }

            &.about_collaboration {
                a {
                    &::before {
                        background-color: var(--blue-color);
                    }

                    &:hover {
                        border: 1px solid var(--blue-color);
                    }
                }
            }

            &.work_collaboration {
                a {
                    &::before {
                        background-color: var(--red-color);
                    }

                    &:hover {
                        border: 1px solid var(--red-color);
                    }
                }
            }

            &.contact_collaboration {
                a {
                    &::before {
                        background-color: var(--light-blue-color);
                    }

                    &:hover {
                        border: 1px solid var(--light-blue-color);
                    }
                }
            }
        }
    }

    .social_share {
        position: absolute;
        bottom: 10px;
        right: 10px;
        opacity: 0;
        transform: scale(0.8) translateY(20px);
        transition: all 0.5s ease;
        z-index: 999;

        &.show {
            opacity: 1;
            transform: scale(1) translateY(0);
        }

        .social_share_inner {
            border: 1px solid #494949;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: 100%;

            .social_top {
                background-color: #0f0f0fe6;
                border-bottom: 1px solid #494949;
                backdrop-filter: blur(4px);
                padding: 0 16px;
                gap: 16px;
                height: 40px;
                min-height: 40px;
                display: flex;
                align-items: center;

                h6 {
                    color: var(--white-color);
                    margin: 0;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }

                .close_button {
                    margin-left: auto;
                    background-color: transparent;
                    border: none;

                    img {
                        width: 16px;
                        transition: all 0.5s;
                        opacity: 0.6;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }

            .social_bottom {
                background-color: #0f0f0fbf;
                backdrop-filter: blur(4px);
                padding: 80px;
                display: flex;
                flex-direction: row;
                gap: 16px;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                    color: var(--gray-color);
                    margin: 0;
                    padding: 0 16px;
                }

                a {
                    text-decoration: none;
                    color: var(--gray-color);
                    padding: 8px;
                    margin: 0 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        transition: all 0.5s;
                        width: 20px;
                        opacity: 0.6;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .leave_soon {
        position: absolute;
        width: 400px;
        top: 55px;
        right: 30px;
        transform: scale(0);
        transition: all 0.5s;
        z-index: 999;
        opacity: 0;

        &.show {
            opacity: 1;
            transform: scale(1);
        }

        &.hide {
            transform: scale(0);
            opacity: 0;
        }


        .leave_soon_inner {
            border: 1px solid #494949;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 10px 0 30px;
            position: relative;
            background-color: #0f0f0fe6;

            .leave_soon_top {
                padding: 0 16px;
                margin-bottom: 10px;
                margin-left: auto;


                .close_button {
                    background-color: transparent;
                    border: none;

                    img {
                        width: 16px;
                        transition: all 0.5s;
                        opacity: 0.6;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }

            .leave_soon_bottom {
                padding: 0 32px;

                p {
                    margin: 0;
                    color: var(--gray-color);
                }

                .social_profiles {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;

                    a {
                        text-decoration: none;
                        color: var(--gray-color);
                        padding: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            transition: all 0.5s;
                            width: 16px;
                            opacity: 0.6;
                            transform: scale(1);
                        }

                        &:hover {
                            img {
                                opacity: 1;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            .progress_bar {
                width: 100%;
                height: 3px;
                position: absolute;
                top: 0;

                .progress {
                    border-radius: 0;
                    height: 100%;
                    background-color: var(--primary-color);
                    transition: width 0.1s ease-out;
                }

                &.about_page {
                    .progress {
                        background-color: var(--blue-color);
                    }
                }

                &.contact_page {
                    .progress {
                        background-color: var(--light-blue-color);
                    }
                }
            }

        }
    }
}

.get_in_touch_main {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 16px;
    grid-column-start: 3;
    justify-content: end;

    a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        border: 1px solid #494949;
        background-color: #0f0f0f;
        position: relative;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--white-color);
        min-height: 32px;
        padding: 0 12px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            right: 0;
            width: 0%;
            height: 100%;
            background-color: var(--primary-color);
            opacity: 0.15;
            transition: all 0.5s;
        }

        .emoji_container {
            overflow: hidden;

            .emoji {
                display: inline-block;
            }
        }

        &:hover {
            border: 1px solid var(--primary-color);

            &::before {
                width: 100%;
                left: 0;
            }
        }
    }
}

.loader_container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;

    h1 {
        color: var(--white-color);
        font-weight: 800;
        margin: 0;
    }
}

@media (max-width:1280px) {
    .main .main_frame_content .home_section .container .home_content h1 {
        font-size: 72px;
    }

    .main .main_frame_content .about_section .about_content_main {
        aspect-ratio: unset;
        overflow: unset;
    }

    .main .main_frame_content .about_section .about_content_main .about_me_box {
        width: 100%;
        position: unset;
    }

    .main .main_frame_content .about_section .about_content_main .where_work_box {
        width: 58%;
        position: unset;
    }

    .main .main_frame_content .about_section .about_content_main .portrait_box {
        width: 50%;
        display: grid;
        position: unset;
        margin-left: auto;
    }

    .main .main_frame_content .about_section .about_content_main .hobbies_box {
        width: 58%;
        position: unset;
    }

    .main .main_frame_content .about_section .about_content_main .online_box {
        width: 58%;
        position: unset;
        margin-left: auto;
    }

    .main .main_frame_content .project_section .projects_list a .project_box {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "image image image"
            "index title year"
            "empty tags awards";
        grid-template-rows: auto auto auto;
        padding: 32px;
        margin-top: 40px;
    }

    .main .main_frame_content .project_section .projects_list a .project_box .project_image {
        width: 50%;
        grid-area: image;
        margin-right: 15px;
        margin-top: -50px;
        margin-left: auto;
        position: unset;
        opacity: 1;
        transform: rotate(-5deg) scale(1);
    }

    .main .main_frame_content .project_section .projects_list a .project_box h3 {
        font-size: 36px;
    }

    .main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content h3 {
        font-size: 48px;
    }
}

@media (max-width:991px) {
    .main .main_frame_content .about_section .about_content_main {
        width: 100%;
        margin: 0 auto;
    }

    .main .main_frame_content .project_section .projects_list a .project_box .project_image {
        width: 66%;
    }

    .main .main_frame_content .home_section,
    .main .main_frame_content .about_section,
    .main .main_frame_content .project_section,
    .main .main_frame_content .collaboration_section,
    .main .main_frame_content .contact_us_section,
    .main .main_frame_content .home_section .container .home_content {
        width: 100%;
    }

    .main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 100%;
    }


    .main .main_frame_content .home_section .container .home_content h1 {
        font-size: 48px;
    }

    .main .main_frame_content .about_section h1,
    .main .main_frame_content .project_section h1 {
        font-size: 48px;
    }

    .main .main_frame {
        grid-template-areas:
            "header header header"
            "content content content"
            "bottom bottom bottom";
        grid-template-columns: 40px 1fr 40px;
        border: none;
    }

    .main .main_frame_content .about_section .about_content_main {
        width: 100%;
        margin: 0 auto;
    }

    .main .main_frame_content {
        grid-area: content;
        border-left: 1px solid #494949;
        border-right: 1px solid #494949;
    }

    .main .main_frame_content .project_section .projects_list a .project_box h3 {
        font-size: 30px;
    }

    .main .main_frame_content .project_section .projects_list a:hover .project_box .project_image {
        transform: unset;
    }

    .main .main_frame_content .project_section .projects_list a .project_box .project_image {
        width: 100%;
        margin-top: -50px;
        transform: unset;
    }

    .main .main_frame_content .project_section .projects_list a .project_box {

        display: grid;
        grid-template-areas: "image image"
            "index year"
            "title title"
            "tags tags"
            "awards awards";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom .collaboration_content h3 {
        font-size: 36px;
    }

    .main .main_frame_content .contact_us_section .contact_box_main .contact_box {
        max-width: 100%;
    }
}

@media (max-width:576px) {

    .main .main_frame_content .about_section .about_content_main .portrait_box,
    .main .main_frame_content .about_section .about_content_main .hobbies_box,
    .main .main_frame_content .about_section .about_content_main .online_box,
    .main .main_frame_content .about_section .about_content_main .where_work_box {
        width: 70%;
    }

}

@media (max-width:480px) {

    .main .main_frame_content .project_section h1,
    .main .main_frame_content .about_section h1 {
        font-size: 38px;
    }

    .main .main_frame_content .about_section .about_content_main .portrait_box,
    .main .main_frame_content .about_section .about_content_main .hobbies_box,
    .main .main_frame_content .about_section .about_content_main .online_box,
    .main .main_frame_content .about_section .about_content_main .where_work_box {
        width: 100%;
    }

    .main .main_frame_content .collaboration_section .collaboration_card .collaboration_bottom,
    .main .main_frame_content .project_section .projects_list a .project_box {
        padding: 20px;
    }

    .main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom {
        padding: 24px;
    }

    .main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main input {
        padding: 0 16px;
        height: 48px;
    }

    .main .main_frame_content .contact_us_section .contact_box_main .contact_box .contact_box_bottom form .input_main textarea {
        padding: 16px;
    }
}