.footer_section {
    padding: 80px 0;
    backdrop-filter: blur(4px);
    background-color: #0f0f0f40;
    font-weight: 500;
    border-top: 1px solid #494949;

    .footer_inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 120px;

        nav {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            align-items: center;

            a {
                text-decoration: none;

                svg {
                    g {
                        fill: var(--white-color);
                    }

                    .ladva {
                        fill: var(--primary-color);
                    }
                }
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: var(--gray-color);
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                        transition: all 0.5s;
                        text-transform: lowercase;
                        padding: 8px 0;

                        &:hover {
                            color: var(--white-color);
                        }
                    }
                }
            }
        }

        .footer_text {
            font-size: 14px;
            line-height: 20px;
            display: flex;
            justify-content: center;
            gap: 16px;
            align-items: center;
            color: var(--gray-color);
            text-align: center;
        }
    }

    &.about_footer {
        .footer_inner {
            nav {
                a {
                    svg {
                        .ladva {
                            fill: var(--blue-color);
                        }
                    }
                }
            }
        }
    }

    &.contact_footer {
        .footer_inner {
            nav {
                a {
                    svg {
                        .ladva {
                            fill: var(--light-blue-color);
                        }
                    }
                }
            }
        }
    }
}

.footer_bottom {
    grid-area: bottom;
    display: grid;
    align-items: center;
    grid-template-columns: subgrid;
    backdrop-filter: blur(4px);
    background-color: #0f0f0f40;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-top: 1px solid #494949;

    .footer_inner {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        padding: 0 16px;
        gap: 16px;
        align-items: center;
        height: 100%;

        .location_info_main {
            height: 100%;
            justify-content: center;
            grid-column-start: 2;

            .location_info {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                cursor: default;

                p {
                    margin: 0;
                    color: var(--gray-color);
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    justify-content: center;
                    padding: 0 8px;
                    height: 100%;
                    transition: all 0.5s;

                    .emoji {
                        display: inline-block;
                        width: 0;
                        overflow: hidden;
                        transition: width 0.5s;
                        white-space: nowrap;
                        margin-left: 0;
                    }

                    span {
                        transition: all 0.5s;
                    }

                    &:hover {
                        span {
                            color: var(--white-color);
                        }

                        .emoji {
                            width: 15px;
                        }
                    }
                }
            }
        }

        .get_in_touch_main {
            display: flex;
            align-items: center;
            height: 100%;
            gap: 16px;
            grid-column-start: 3;
            justify-content: end;

            button {
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                border: 1px solid #494949;
                background-color: #0f0f0f;
                position: relative;
                transition: all 0.5s;
                display: flex;
                align-items: center;
                gap: 16px;
                color: var(--white-color);
                min-height: 32px;
                padding: 0 12px;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    background-color: var(--primary-color);
                    opacity: 0.15;
                    transition: all 0.5s;
                }

                .emoji_container {
                    overflow: hidden;

                    .emoji {
                        display: inline-block;
                    }
                }

                &:hover {
                    border: 1px solid var(--primary-color);

                    &::before {
                        width: 100%;
                        left: 0;
                    }
                }

                &.about_btn {
                    &::before {
                        background-color: var(--blue-color);
                    }

                    &:hover {
                        border: 1px solid var(--blue-color);
                    }
                }

                &.contact_btn {
                    &::before {
                        background-color: var(--light-blue-color);
                    }

                    &:hover {
                        border: 1px solid var(--light-blue-color);
                    }
                }
            }
        }
    }

    &.about_footer {
        a {
            &::before {
                background-color: var(--blue-color);
            }

            &:hover {
                border: 1px solid var(--blue-color);
            }
        }
    }

    &.contact_footer {
        a {
            &::before {
                background-color: var(--light-blue-color);
            }

            &:hover {
                border: 1px solid var(--light-blue-color);
            }
        }
    }
}

@media (max-width: 1024px) {
    .footer_bottom .footer_inner .location_info_main {
        display: none;
    }

    .footer_bottom .footer_inner {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-column: span 2 / span 2;
    }

}

@media (max-width:991px) {
    .footer_section .footer_inner nav {
        flex-direction: column;
    }

    .footer_section .footer_inner {
        width: 100%;
        gap: 80px;
    }
}

@media (max-width: 768px) {
    .navbar_top_section {
        display: none;
    }

    .footer_bottom {
        border: 1px solid #494949;
    }
}

@media (max-width:480px) {
    .footer_section .footer_inner nav ul {
        flex-direction: column;
    }
}