.footer_bottom {
    grid-area: bottom;
    display: grid;
    align-items: center;
    grid-template-columns: subgrid;
    backdrop-filter: blur(4px);
    background-color: #0f0f0f40;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    .footer_inner {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        padding: 0 16px;
        gap: 16px;
        align-items: center;
        height: 100%;

        .location_info_main {
            height: 100%;
            justify-content: center;
            grid-column-start: 2;

            .location_info {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                cursor: default;

                p {
                    margin: 0;
                    color: var(--gray-color);
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    justify-content: center;
                    padding: 0 8px;
                    height: 100%;
                    transition: all 0.5s;

                    .emoji {
                        display: inline-block;
                        width: 0;
                        overflow: hidden;
                        transition: width 0.5s;
                        white-space: nowrap;
                        margin-left: 0;
                    }

                    span {
                        transition: all 0.5s;
                    }

                    &:hover {
                        span {
                            color: var(--white-color);
                        }

                        .emoji {
                            width: 15px;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 1024px) {
    .footer_bottom .footer_inner .location_info_main {
        display: none;
    }

    .footer_bottom .footer_inner {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-column: span 2 / span 2;
    }

}

@media (max-width: 768px) {
    .navbar_top_section {
        display: none;
    }

}