*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --primary-color: #AEFF00;
  --blue-color: #4d81ee;
  --light-blue-color: #91d1f8;
  --red-color: #e14f62;
  --yellow-color: #e1b84f;
  --purple-color: #845eee;
  --gray-color: #9d9d9d;
}

body {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  background: var(--black-color) !important;
  overflow-x: hidden !important;
  font-family: 'Neue Machina' !important;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./resources/fonts/NeueMachina-Light.woff2') format('woff2'),
    url('./resources/fonts/NeueMachina-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./resources/fonts/NeueMachina-Regular.woff2') format('woff2'),
    url('./resources/fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('./resources/fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
    url('./resources/fonts/NeueMachina-Ultrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Object Sans Slanted';
  src: url('./resources/fonts/ObjectSans-Slanted.woff2') format('woff2'),
    url('./resources/fonts/ObjectSans-Slanted.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Object Sans';
  src: url('./resources/fonts/ObjectSans-Heavy.woff2') format('woff2'),
    url('./resources/fonts/ObjectSans-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Object Sans';
  src: url('./resources/fonts/ObjectSans-HeavySlanted.woff2') format('woff2'),
    url('./resources/fonts/ObjectSans-HeavySlanted.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Object Sans';
  src: url('./resources/fonts/ObjectSans-Regular.woff2') format('woff2'),
    url('./resources/fonts/ObjectSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}